.user-detail-grid{
    margin-top:40px !important;
}

.user-details{
    padding-left:2%;
}

.user-bold{
    font-weight: 600;
}

.user-detail-container{
width:100%;
}

.user-role-list1{
    height:250px!important;
}


