.role-chip{
    width: 100px;
    text-align: center;
}

.role-card{
    width: 50%;
    margin: 2%;
    height: 50%;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.mat-sort-header-arrow {
margin:15px 0 0 6px !important;
}