.role-chip{
    text-align: center;
    background-color:rgb(228, 164, 121) ;
    font-size: 22px;
    width: auto;
}

.role-card{
    width: 25%;
    margin: 2%;
    height: auto;
    /* height: 20% !important; */
}

.example-container-roles {
  display: flex;
  flex-direction: column;
  min-width: 80%;
  overflow: auto;
  max-height: 310px;
  margin-top: 5%;
  border: grey 1px solid;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.mat-header-cell{
  font-size: large;
  color: #2962FF;
}

.mat-sort-header-arrow {
margin:0 0 0 -20px !important;
}

.mat-table{
  height: 500px!important;
}

.table-header{
    font-size: 25px;
    text-align: center;
    background:white!important;
    color:black!important;
    display: block!important;
    font-family: inherit;
    font-weight: 600;
    margin: 20px 0 -25px 0;
}

.ghostElement{
  visibility: hidden !important;
}

.mat-chip-list{
  padding: 0 5% 0 5%;
  height: 450px;
}

