
<div class="search-field text-center">

               <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" 
              placeholder="Enter to search">
              <mat-icon matSuffix >search</mat-icon>
            </mat-form-field>
           
    
</div>

<div>
<mat-grid-list cols="4" rowHeight="100px" *ngIf="roles">
  <mat-grid-tile [colspan]="1" [rowspan]="5" >
      <mat-grid-tile-header>
          Roles:
    </mat-grid-tile-header>
            <mat-chip-list class="mat-chip-list-stacked" aria-orientation="vertical">
                <mat-chip  *ngFor="let role of roles" (click)="getRoleDetails(role)" class="role-chip">{{role.roleName || ''}}</mat-chip>
                
            </mat-chip-list>
            

  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="1" *ngIf="roleSelected">
     
          <mat-card class="role-card">
              <mat-card-title>
                  Role Name:
              </mat-card-title>
              <mat-card-content>{{roleSelected.roleName || ''}}</mat-card-content>
          </mat-card>
          <mat-card class="role-card">
              <mat-card-title>
                  Role Code:
              </mat-card-title>
              <mat-card-content>{{roleSelected.roleId || ''}}</mat-card-content>
          </mat-card>
    
   
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="4" >
         <mat-grid-tile-header>
          Users with Role:
    </mat-grid-tile-header>
    
    <div class="example-container mat-elevation-z8"  [hidden]="!roleSelected" >
  <mat-table   #table [dataSource]="dataSource"  matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef mat-sort-header> <h3>No.</h3> </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> <h3>Name</h3> </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef mat-sort-header> <h3>Weight</h3>  </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef mat-sort-header> <h3>Symbol</h3>  </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

   
  </mat-table>

   <mat-paginator [length]="pageSize" [pageIndex]="0"
              [pageSize]="pageLength" [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="pageEvent = $event;testPage();"></mat-paginator> 

</div>


  </mat-grid-tile>

</mat-grid-list>
</div>





